.calculator-container{
    display: grid;
    margin: 0 auto;
    place-content: center;
    width: 250px;
    height: 384px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    box-shadow: 5px 5px rgb(208, 212, 219);
}

#inputOperation{
    margin: 0 auto;
    height: 60px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    text-align: end;
    font-family: 'VT323', monospace;
    font-size: 30px;
    background-color: black;
    color: #06FF00;
    width: 230px;
    margin-bottom: 10px;
}

.display-container{
    display: grid;
    grid-template-columns: repeat(4,50px);
    grid-template-rows: repeat(5,50px);
    justify-content: center;
    gap: 10px;
}

.button{
    border-radius: 0.75em;
    color: #e8e8e8;
    font-size: 17px;
    font-weight: bold;
    border-color: black;
    background: gray;
}

.button:hover{
    transform: translateY(-0.33em);
}